<%= form_with(model: contact) do |form| %>
  <%= render "devise/shared/error_messages", resource: contact %>
  
  <div class="mb-3">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email,
      class:"form-control",
      placeholder:"abcd@defg.com" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :user_id,
      id: :contact_user_id,
      class: "form-control",
      value: current_user.id,
      type: "hidden" %>
  </div>

  <div class="mb-3">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
